{% extends "bundles/TwigBundle/Exception/layout_error.html.twig" %}

{% block text %}
    <h1 class="title text-center text-uppercase mt-4">Erreur 405</h1>
    <p class="text-center mt-2 fs-3 fw-bolder">Vous n'avez pas le droit d'acceder à cette page</p>
{% endblock %}