{% extends "bundles/TwigBundle/Exception/layout_error.html.twig" %}

{% block text %}
    <h1 class="title text-center text-uppercase mt-4">Erreur 404</h1>
    <p class="text-center mt-2 fs-3 fw-bolder">Désolé mais cette page n'existe pas</p>
{% endblock %}