{% extends "bundles/TwigBundle/Exception/layout_error.html.twig" %}

{% block text %}
    <h1 class="title text-center text-uppercase mt-4">Erreur 500</h1>
    <p class="text-center mt-2 fs-3 fw-bolder">Désolé mais le serveur ne parvient pas à afficher cette page</p>
{% endblock %}