{% use "base.html.twig" %}

<form action="" method="post">
    <div class="form-group my-3">
        <label for="title">Titre de l'article</label>
        <input value="{{ post.title }}" type="text" class="form-control" name="title" id="title" placeholder="Entrer un titre" required>
    </div>
    <div class="form-group my-3">
        <label for="image">Image principale</label>
        <input value="{{ post.image }}" class="form-control" type="file" name="file" id="formFile">
    </div>
    <div class="form-group my-3">
        <label for="image">Contenu</label>
        <textarea name="content" id="editor">{{ post.content|raw }}</textarea>
    </div>
    <div class="d-grid gap-2 mt-3">
        <input type="hidden" name="submitted" value="1" />
        <button type="submit" class="btn btn-primary">Enregister</button>
    </div>
</form>


{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
{% endblock %}

<script>
	ClassicEditor
		.create(document.querySelector( '#editor' ))
		.catch( error => {
			console.error( error );
		} );
</script>